h2 {
    font-weight: bold;
    font-size: x-large;
    line-height: 1.2;
    &.h2-welcome-page {
        @include section-padding-top-and-bottom;
    }
    &.h2-title-menu-page {
        font-family: 'Shrikhand';
        font-size: 30px;
    }
}

h3 {
    font-size: 18px;
    &.h3-welcome-page {
        font-weight: bold;
        margin-bottom: 5px;
    }
    &.h3-menu-page {
        font-weight: lighter;
        text-transform: uppercase;
    } 
}

h4 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    @include ellipsis-text;
}