@mixin section-padding-top-and-bottom {
    padding-bottom: 20px;
    padding-top: 20px;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin general-padding {
    padding-left: 6%;
    padding-right: 6%;
}

@mixin cursor {
    cursor: pointer;
}

@mixin card-box-shadow {
    box-shadow: 0px 5px 10px $shadow-clr;
}

@mixin lighten-first-clr($color: manage-color($first-clr, $light-brightness, $first-percentage, $second-percentage, $third-percentage, $fourth-percentage)) {
    background-color: $color;
}

@mixin darken-third-clr($color: manage-color($third-clr, $dark-brightness, $first-percentage, $second-percentage, $third-percentage, $fourth-percentage)) {
    color: $color;
}

@mixin lighten-dark-clr($color: manage-color($dark-clr, $shadow-brightness, $first-percentage, $second-percentage, $third-percentage, $fourth-percentage)) {
    background-color: $color;
}

@mixin darken-dark-clr($color: manage-color($dark-clr, $dark-brightness, $first-percentage, $second-percentage, $third-percentage, $fourth-percentage)) {
    background-color: $color;
}

@mixin shadow-clr($color: manage-color($dark-clr, $shadow-brightness, $first-percentage, $second-percentage, $third-percentage, $fourth-percentage)) {
    box-shadow: 0px 5px 10px $color;
}

@mixin ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}