// Colors day mode

$first-clr: #9356DC;
$second-clr: #FF79DA;
$third-clr: #99E2D0;
$shadow-clr: #808080;
$dark-clr: #353535;
$main-text-clr: #000000;
$alternate-text-clr: #ffffff;
$main-background-clr: #ffffff;

// Colors night mode

// $first-clr: #000155;
// $second-clr: #7982ff;
// $third-clr: #99b2e2;
// $shadow-clr: #002855;
// $dark-clr: #000155;
// $main-text-clr: #ffffff;
// $alternate-text-clr: #f3c80a;
// $main-background-clr: #000155;

// Brightness

$light-brightness: light;
$dark-brightness: dark;
$shadow-brightness: shadowed;

// Percentages

$first-percentage: 25%;
$second-percentage: 34%;
$third-percentage: 70%;
$fourth-percentage: 75%;

// Breakpoints
$tablet-breakpoint: 968px;
$mobile-breakpoint: 768px;